@charset "UTF-8";

/* Отличный вариант на чистом css, но нам не подходит
::-webkit-scrollbar{width:0;height:0;}
::-webkit-scrollbar-button{width:0;height:0;}

div{
  box-sizing:border-box;
}

body {
  background: #111;
}

.horizontal-scroll-wrapper{
  position:absolute;
  display:block;
  top:0;
  left:0;
  width:100vh;
  max-height: 100vw;
  margin:0;
  background:#abc;
  overflow-y:auto;
  overflow-x:hidden;
  transform:rotate(-90deg) translateY(-100vh);
  transform-origin:right top;
}
.horizontal-scroll-wrapper > div{
  display:block;
  background:#cab;
  transform:rotate(90deg);
  transform-origin: right top;
}

.rectangles{
  top: 0;
  padding:100vh 0 0 0;
}
.rectangles > div{
  background:#cab;
  transform:rotate(90deg) translateY(0);
  transform-origin: right top;
}
*/

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}

html {
  overflow: hidden;
  background: grey;
  padding: 0;
  margin: 0;
}

body {
  overflow: hidden;
  background: green;
  padding: 0;
  margin: 0;
  position: relative;
}

#welcome {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

#row {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: left .1s ease-in, top .1s ease-in;
  transition: left .1s ease-in, top .1s ease-in;
}

#row > div {
  position: absolute;
  height: 100vmin;
  width: 100vmin;
  background: grey;
}

.img-cover {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.img-blur {
  -webkit-filter: blur(10px);
          filter: blur(10px);
  -webkit-transition: -webkit-filter .1s ease-in;
  transition: -webkit-filter .1s ease-in;
  transition: filter .1s ease-in;
  transition: filter .1s ease-in, -webkit-filter .1s ease-in;
}

.img-blur:hover {
  -webkit-filter: blur(0px) !important;
          filter: blur(0px) !important;
}

#logo {
  position: fixed;
  top: 4vmin;
  left: 8vmin;
  font-size: 7vmin;
  color: black;
  z-index: 1;
  line-height: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

