@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro&subset=cyrillic);@import url(https://fonts.googleapis.com/css?family=Asap);@charset "UTF-8";

@-webkit-keyframes slideInDownC {
  from {
    top: -100%;
    visibility: visible;
  }

  to {
    top: 0;
  }
}

@keyframes slideInDownC {
  from {
    top: -100%;
    visibility: visible;
  }

  to {
    top: 0;
  }
}

.slideInDownC {
  -webkit-animation-name: slideInDownC;
  animation-name: slideInDownC;
}

@-webkit-keyframes slideOutUpC {
  from {
    top: 0;
  }

  to {
    visibility: hidden;
    top: -100%;
  }
}

@keyframes slideOutUpC {
  from {
    top: 0;
  }

  to {
    visibility: hidden;
    top: -100%;
  }
}

.slideOutUpC {
  -webkit-animation-name: slideOutUpC;
  animation-name: slideOutUpC;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}

html {
  overflow: hidden;
  padding: 0;
  margin: 0;
}

body {
  overflow: hidden;
  padding: 0;
  margin: 0;
  position: relative;
  background: #000000;
  font-family: 'Source Sans Pro', sans-serif;
}

#row {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100vh;
  max-height: 100vw;
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transform: rotate(-90deg) translateY(-100vh);
          transform: rotate(-90deg) translateY(-100vh);
  -webkit-transform-origin: right top;
          transform-origin: right top;
  padding: 0;
}

#row > div {
  position: relative;
  z-index: 2;
  display: block;
  width: 100vmin;
  height: 100vmin;
  -webkit-transform: rotate(90deg) translateX(100vmin);
          transform: rotate(90deg) translateX(100vmin);
  -webkit-transform-origin: right top;
          transform-origin: right top;
  background: #000000;
}

#row.js-column {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  top: 0;
  left: 0;
  width: auto;
  max-height: none;
  margin: 0;
  overflow: auto;
  -webkit-transform: none;
          transform: none;
  padding: 0;
}

#row.js-column > div {
  position: relative;
  z-index: 2;
  display: block;
  width: 100vmin;
  height: 100vmin;
  -webkit-transform: rotate(0) translateX(0);
          transform: rotate(0) translateX(0);
  -webkit-transform-origin: right top;
          transform-origin: right top;
}

.img-cover {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.img-blur svg {
  width: 100%;
  height: 100%;
}

.img-blur svg text {
  opacity: 0;
  -webkit-transition: opacity .3s ease-in;
  transition: opacity .3s ease-in;
}

#logo {
  position: fixed;
  top: 4vmin;
  left: 8vmin;
  font-size: 6vmin;
  color: black;
  line-height: 1.2;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin: 0;
  padding: 0;
  z-index: 10;
  font-family: 'Asap', sans-serif;
}

#logo * {
  position: relative;
  line-height: 1.2;
  cursor: pointer;
}

#logo > span {
  top: 0;
  left: 0;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo__items {
  opacity: 0;
  display: none;
  -webkit-transition: opacity .2s ease-in;
  transition: opacity .2s ease-in;
}

.animated.faster {
  -webkit-animation-duration: 200ms;
  animation-duration: 200ms;
}

#menu {
  position: fixed;
  left: -50vmin;
  top: 0;
  z-index: 6;
  background: white;
  width: 50vmin;
  height: 100%;
  padding: 30vmin 2vmin 0 8vmin;
  font-size: 4vmin;
  -webkit-transition: left .3s ease-in;
  transition: left .3s ease-in;
}

#menu ul {
  margin-left: 0;
  /* Отступ слева в браузере IE и Opera */
  padding-left: 0;
  /* Отступ слева в браузере Firefox, Safari, Chrome */
}

#menu ul li {
  list-style-type: none;
  /* Убираем маркеры */
  padding-bottom: 3vmin;
}

a {
  color: #000;
}

a:hover,
a:focus {
  color: #000;
}

#border {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .6;
  z-index: 5;
  display: none;
}

